@import 'styles/variables';
@import 'styles/mixins';

.auth-container{
  max-width: 450px;
  padding: 20px 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    margin-top: 30px;
  }

  span:last-child {
    cursor: pointer;
    margin: 10px 0;
  }
}

@include respond-to('mobile-down') {
  .auth-container{
    max-width: unset;
    padding: $mobile-padding 20px;
  }
}