$fg-light: #545B64;
$fg: #24272b;
$fg-dark: #07070A;

$white: #fff;
$dark-white: #b5b5b5;

$primary-light: #3E78B2;
$primary: #004BA8;
$primary-dark: #001C3D;

$secondary-light: #B4A0E5;
$secondary: #663FCA;
$secondary-dark: #1F1240;

$error-light: #e57373;
$error: #f44336;
$error-dark:#d32f2f;

$success-light: #81c784;
$success:#66bb6a;
$success-dark:#388e3c;

$disabled: #EBEBE4;

$header-height: 50px;

$sidenav-width: 350px;

$mobile-padding: 10px;
$padding: 20px;

$border-radius: 10px;